.trend:before, .innovation:before { background-color:#ccc;color:white;font-family:Roboto !important;font-weight: bold; font-size:.5em !important;display:inline-block;padding:0 .3em !important; border-radius:.3em;margin-bottom:1em !important;transform: rotate(-5deg); text-transform: uppercase;}
.trend:before {background-color:#1d79c4;content:"trend";}
.innovation:before {background-color:#fcdd2d;content:"innovation";} 

.reveal .source { font-size:.4em !important;  font-family:"Roboto", "Montserrat", "Source Sans Pro", Helvetica, sans-serif !important;  }
.reveal span.source {text-align:right !important; display:block;}
.reveal .source.left { text-align:left !important; }

h3 .pretitle { display:block; font-size:.3em; text-transform: uppercase; }

p.author { font-size:.8em; }
p.date { font-size:.6em; font-style:italic; }