.annotator-hl {
	background: rgba(255, 255, 10, 0.3);
}
.annotator-hl-temporary {
	background: rgba(0, 124, 255, 0.3);
}
.annotator-wrapper {
	position: relative;
}
.annotator-adder {
	z-index: 1020;
}
.annotator-outer {
	z-index: 1020;
}
.annotator-notice {
	z-index: 1020;
}
.annotator-filter {
	z-index: 1010;
}
.annotator-hide {
	display: none; visibility: hidden;
}
.annotator-adder {
	background-position: left top; width: 48px; height: 48px; margin-top: -48px; margin-left: -24px;
}
.annotator-adder:hover {
	background-position: top;
}
.annotator-adder:active {
	background-position: right;
}
.annotator-invert-x .annotator-widget {
	left: auto; right: -18px;
}
.annotator-invert-y .annotator-widget {
	top: 8px; bottom: auto;
}
.annotator-widget strong {
	font-weight: bold;
}
.annotator-widget .annotator-listing {
	list-style: none; margin: 0px; padding: 0px;
}
.annotator-widget .annotator-item {
	list-style: none; margin: 0px; padding: 0px;
}
.annotator-widget::after {
	background-position: 0px 0px; left: 8px; width: 18px; height: 10px; bottom: -10px; display: block; position: absolute; content: "";
}
.annotator-invert-x .annotator-widget::after {
	left: auto; right: 8px;
}
.annotator-invert-y .annotator-widget::after {
	background-position: 0px -15px; top: -9px; bottom: auto;
}
.annotator-viewer .annotator-item {
	border-top-color: rgba(122, 122, 122, 0.2); border-top-width: 2px; border-top-style: solid;
}
.annotator-widget :first-child.annotator-item {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.annotator-viewer div {
	padding: 6px;
}
.annotator-viewer .annotator-item ol {
	padding: 4px 16px;
}
.annotator-viewer .annotator-item ul {
	padding: 4px 16px;
}
.annotator-hide.annotator-viewer .annotator-controls {
	transition:opacity 0.2s ease-in; top: 5px; right: 5px; padding-left: 5px; float: right; position: relative; opacity: 0;
}
.annotator-viewer li:hover .annotator-controls {
	opacity: 1;
}
.annotator-viewer li .annotator-controls.annotator-visible {
	opacity: 1;
}
.annotator-viewer .annotator-controls button:active {
	opacity: 1;
}
.annotator-viewer .annotator-controls a:active {
	opacity: 1;
}
.annotator-viewer .annotator-controls button[disabled] {
	display: none;
}
.annotator-viewer .annotator-controls .annotator-edit {
	background-position: 0px -60px;
}
.annotator-viewer .annotator-controls .annotator-delete {
	background-position: 0px -75px;
}
.annotator-viewer .annotator-controls .annotator-link {
	background-position: 0px -270px;
}
.annotator-editor .annotator-item {
	position: relative;
}
.annotator-editor .annotator-item label {
	top: 0px; font-size: 12px; display: inline;
}
.annotator-editor .annotator-item input[type='radio'] {
	margin: 0px 4px 0px 0px; padding: 0px; width: auto; display: inline; cursor: pointer; min-width: 0px;
}
.annotator-editor .annotator-item input[type='checkbox'] {
	margin: 0px 4px 0px 0px; padding: 0px; width: auto; display: inline; cursor: pointer; min-width: 0px;
}
.annotator-editor .annotator-checkbox {
	padding: 8px 6px;
}
.annotator-editor.annotator-invert-y .annotator-controls {
	border-radius: 5px 5px 0px 0px; border-top-color: currentColor; border-bottom-color: rgb(180, 180, 180); border-top-width: medium; border-bottom-width: 1px; border-top-style: none; border-bottom-style: solid;
}
.annotator-editor a:hover {
	border-color: rgb(67, 90, 160); color: white; text-shadow: 0px -1px 0px rgba(0,0,0,0.42); background-image: linear-gradient(rgb(118, 145, 251), rgb(80, 117, 251) 50%, rgb(56, 101, 249) 50%, rgb(54, 101, 250)); background-color: rgb(56, 101, 249);
}
.annotator-editor a:focus {
	border-color: rgb(67, 90, 160); color: white; text-shadow: 0px -1px 0px rgba(0,0,0,0.42); background-image: linear-gradient(rgb(118, 145, 251), rgb(80, 117, 251) 50%, rgb(56, 101, 249) 50%, rgb(54, 101, 250)); background-color: rgb(56, 101, 249);
}
.annotator-editor a.annotator-focus {
	border-color: rgb(67, 90, 160); color: white; text-shadow: 0px -1px 0px rgba(0,0,0,0.42); background-image: linear-gradient(rgb(118, 145, 251), rgb(80, 117, 251) 50%, rgb(56, 101, 249) 50%, rgb(54, 101, 250)); background-color: rgb(56, 101, 249);
}
.annotator-filter .annotator-filter-active label {
	border-color: rgb(67, 90, 160); color: white; text-shadow: 0px -1px 0px rgba(0,0,0,0.42); background-image: linear-gradient(rgb(118, 145, 251), rgb(80, 117, 251) 50%, rgb(56, 101, 249) 50%, rgb(54, 101, 250)); background-color: rgb(56, 101, 249);
}
.annotator-filter .annotator-filter-navigation button:hover {
	border-color: rgb(67, 90, 160); color: white; text-shadow: 0px -1px 0px rgba(0,0,0,0.42); background-image: linear-gradient(rgb(118, 145, 251), rgb(80, 117, 251) 50%, rgb(56, 101, 249) 50%, rgb(54, 101, 250)); background-color: rgb(56, 101, 249);
}
.annotator-editor a:hover::after {
	background-position: 0px -105px; margin-top: -8px;
}
.annotator-editor a:focus::after {
	background-position: 0px -105px; margin-top: -8px;
}
.annotator-editor.annotator-invert-y .annotator-widget .annotator-controls {
	background-color: rgb(242, 242, 242);
}
.annotator-editor.annotator-invert-y .annotator-widget::after {
	background-position: 0px -45px; height: 11px;
}
.annotator-resize {
	background-position: 2px -150px; top: 0px; width: 12px; height: 12px; right: 0px; position: absolute;
}
.annotator-invert-x .annotator-resize {
	background-position: 0px -195px; left: 0px; right: auto;
}
.annotator-invert-y .annotator-resize {
	background-position: 2px -165px; top: auto; bottom: 0px;
}
.annotator-invert-y.annotator-invert-x .annotator-resize {
	background-position: 0px -180px;
}
.annotator-notice {
	background: rgba(0, 0, 0, 0.9); transition:top 0.4s ease-out; left: 0px; top: -54px; width: 100%; text-align: center; color: rgb(255, 255, 255); line-height: 50px; font-size: 14px; border-bottom-color: rgb(212, 212, 212); border-bottom-width: 4px; border-bottom-style: solid; position: fixed;
}
.ie6 .annotator-notice {
	position: absolute;
}
.annotator-notice-success {
	border-color: rgb(54, 101, 249);
}
.annotator-notice-error {
	border-color: rgb(255, 126, 0);
}
.annotator-notice p {
	margin: 0px;
}
.annotator-notice a {
	color: rgb(255, 255, 255);
}
.annotator-notice-show {
	top: 0px;
}
.annotator-tags {
	margin-bottom: -2px;
}
.annotator-tags .annotator-tag {
	padding: 0px 8px; border-radius: 8px; line-height: 1.6; font-weight: bold; margin-bottom: 2px; display: inline-block; background-color: rgb(230, 230, 230);
}
.annotator-filter {
	border-width: medium medium 1px; border-style: none none solid; border-color: currentColor currentColor rgb(135, 135, 135); border-radius: 0px; left: 0px; top: 0px; text-align: left; right: 0px; line-height: 0; padding-right: 10px; padding-left: 10px; position: fixed; box-shadow: inset 0px -1px 0px rgba(255,255,255,0.3);
}
.annotator-filter strong {
	top: -9px; color: rgb(60, 60, 60); font-size: 12px; font-weight: bold; position: relative; text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
}
.annotator-filter .annotator-filter-property {
	padding: 2px 0px; line-height: 10px; overflow: hidden; margin-right: 8px; display: inline-block; position: relative;
}
.annotator-filter .annotator-filter-navigation {
	padding: 2px 0px; line-height: 10px; overflow: hidden; margin-right: 8px; display: inline-block; position: relative;
}
.annotator-filter .annotator-filter-property label {
	border-radius: 10px 0px 0px 10px; text-align: left; line-height: 20px; float: left; display: block;
}
.annotator-filter .annotator-filter-navigation button {
	border-radius: 10px 0px 0px 10px; text-align: left; line-height: 20px; float: left; display: block;
}
.annotator-filter .annotator-filter-property label {
	padding-left: 8px;
}
.annotator-filter .annotator-filter-property input {
	border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: rgb(135, 135, 135) rgb(135, 135, 135) rgb(135, 135, 135) currentColor; padding: 2px 4px; border-radius: 0px 10px 10px 0px; width: 150px; color: rgb(51, 51, 51); line-height: 16px; font-size: 12px; float: right; display: block; min-height: 16px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2); background-color: rgb(248, 248, 248); -webkit-appearance: none;
}
.annotator-filter .annotator-filter-property input:focus {
	background-color: rgb(255, 255, 255);
}
.annotator-filter .annotator-filter-clear {
	background-position: 0px -90px; border: currentColor; border-image: none; top: 6px; width: 15px; height: 15px; right: 3px; text-indent: -900em; position: absolute; opacity: 0.4;
}
.annotator-filter .annotator-filter-clear:hover {
	opacity: 0.8;
}
.annotator-filter .annotator-filter-clear:focus {
	opacity: 0.8;
}
.annotator-filter .annotator-filter-clear:active {
	opacity: 1;
}
.annotator-filter .annotator-filter-navigation button {
	padding: 0px; border: 1px solid rgb(162, 162, 162); border-image: none; width: 20px; text-indent: -900px; min-height: 22px; box-shadow: inset 0px 0px 5px rgba(255,255,255,0.2), inset 0px 0px 1px rgba(255,255,255,0.8);
}
.annotator-filter .annotator-filter-navigation button {
	color: transparent;
}
.annotator-filter .annotator-filter-navigation button:hover {
	color: transparent;
}
.annotator-filter .annotator-filter-navigation button:focus {
	color: transparent;
}
.annotator-filter .annotator-filter-navigation button::after {
	background-position: 0px -210px; left: 8px; top: 8px; width: 9px; height: 9px; display: block; position: absolute; content: "";
}
.annotator-filter .annotator-filter-navigation button:hover::after {
	background-position: 0px -225px;
}
.annotator-filter .annotator-filter-navigation .annotator-filter-next {
	border-radius: 0px 10px 10px 0px; border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
.annotator-filter .annotator-filter-navigation .annotator-filter-next::after {
	background-position: 0px -240px; left: auto; right: 7px;
}
.annotator-filter .annotator-filter-navigation .annotator-filter-next:hover::after {
	background-position: 0px -255px;
}
.annotator-hl-active {
	background: rgba(255, 255, 10, 0.8);
}
.annotator-hl-filtered {
	background-color: transparent;
}
